/* i{
    width: 40px;
    height: 40px;

} */
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #875f4e;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #c7601c;
}
.active {
  background-color: #4c2e04;
}

#slider {
position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%; /* adjust as needed */
  margin: auto;
}

#slider figure {
  position: relative;
  width: calc(100% * 3); /* number of slides */
  margin: 0;
  left: 0;
  animation: slide 10s infinite;
}

#slider figure img {
  width: calc(100% / 3); /* same slide count */
  float: left;
   background  : rgba(139, 69, 19, 0.3);
  transition: opacity 0.3s ease;
}

/* keyframes based on 3 slides */
@keyframes slide {
  0%, 20%    { left: 0; }
  25%, 45%   { left: -100%; }
  50%, 70%   { left: -200%; }
  75%, 95%   { left: -100%; }
  100%       { left: 0; }
}

/* Pause on hover */
#slider:hover figure {
  animation-play-state: paused;
  opacity: 0.9;
}
.navigacia{
 width: 100%;
 height: 600px;
 position: relative;
 display: flex;
 align-items: flex-start;
 margin: 24px 78px 18px 99px ;
 justify-content: space-between; 
 background-color: #4c2e04;
 opacity: 0.8;

}
header p{
    color: #e7ab74;
     font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-style: oblique;
  display: inline;
    font-weight: 200;
    margin-left: 15px;
    position: relative;
    
}
.navigacia > p{
    position: relative;
    z-index: 2;
}

.navigacia nav  {
 display: flex;
 position: relative;
 gap: 52px;
 background-color:#1a0233;
 opacity: 0.8;
}
nav ul{ 
 font-size: 16px;
 color: #c78655;
}

.poster div{
  width: 100% ;
  height: 606px;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
.poster div h1{
    font-weight: 700;
    font-size: 79px;
    color: #FFFFFF;
}
.poster div p{
    font-size: 19px;
    color: #FFFFFF;
}
article{
    justify-content: space-between;
    margin-top: 84px;
    margin-bottom: 140px;
    width:100%;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
 .left-side{
   height: 213px;
   width: 235px;
}
 .left-side h1{
    font-size: 17px;
    color: #636060;
    margin-bottom: 9px;
 }
 .left-side h2{
    font-size: 28px;
    color:#010101;
    margin-bottom: 37px;
 }
 .left-side p{
   font-size: 20px;
    color:#636060;
 }
 .right-side{
    display: flex;
   flex-wrap: wrap;
   width: 924px ;
   height: 680px;
   gap: 33px;

 }
 .right-side div{
    width:286px;
    height: 312px;

 }
 .right-side h1{
   font-size: 19px;
   color: #343232;
   margin-bottom: 9px;  
 }
 .right-side p{
    font-size: 18px;
    color:#636060; 

 }
 .right-side img{
    width: 286px;
    height: 195px;
    margin-bottom: 23px;
 }